<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit menu: {{ item['name'] }} in restaurant {{ restaurant_name }}</title>
</head>
<body>
<div class="pane">
<h1 class="header">Edit menu: {{ item['name'] }} in restaurant {{ restaurant_name }}</h1>
<form action="{{ url_for('editMenue', restaurant_id=restaurant_id, menu_id=item['id']) }}" method="post">
    <div class="name">Name:
    <input type="text" size="30" name="name" placeholder="{{ item['name'] }}">
    </div>
    <br>
    <section class="description"><h3>Course:</h3>
    <input type="radio" name="course" value="Entree" checked>Entree<br>
    <input type="radio" name="course" value="Dessert">Dessert<br>
    <input type="radio" name="course" value="Beverage">Beverage<br>
    <input type="radio" name="course" value="Appetizer">Appetizer<br>
    </section>
    <div class="description"><h4>Description: </h4>
    <input type="text" size="30" name="description" placeholder="{{ item['description'] }}">
    </div>
    <div class="price">Price:
    <input type="text" size="30" name="price" placeholder="{{ item['price'] }}">
    </div>
    <input type="submit" value="Save">
    <a href="{{ url_for('showMenu', restaurant_id=restaurant_id) }}">Cancel</a>

</form>
</div>
</body>
</html>