<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>New menu in: {{ restaurant_name }}</title>
</head>
<body>
<div class="pane">
<h1 class="header">New Menue in: {{ restaurant_name }}</h1>
<form action="{{ url_for('newMenu', restaurant_id=restaurant_id) }}" method="post">
    <p class="name">Name:</p>
    <input type="text" size="30" name="name" placeholder="Name">
    <p class="name">Course:<br>
    <input type="radio" name="course" value="Entree" checked>Entree<br>
    <input type="radio" name="course" value="Dessert">Dessert<br>
    <input type="radio" name="course" value="Beverage">Beverage<br>
    <input type="radio" name="course" value="Appetizer">Appetizer<br>
    </p>
    <h3 class="description">Description:
    <input type="text" size="30" name="description" placeholder="description"> </h3>
    <h3 >Price:
    <input class="price" type="text" size="30" name="price" placeholder="price"></h3>
    <input type="submit" value="Create">
    <a href="{{ url_for('showMenu', restaurant_id=restaurant_id) }}">Cancel</a>
</div>
</form>
</body>
</html>