<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New menu in: {{ restaurant_name }}</title>
</head>
<body>
<h1>New Menue in: {{ restaurant_name }}</h1>
<form action="{{ url_for('newMenu', restaurant_id=restaurant_id) }}" method="post">
    <p>Name:</p>
    <input type="text" size="30" name="name" placeholder="Name">
    <p>Course:</p>
    <input type="text" size="30" name="course" placeholder="Course">
    <p>Description: </p>
    <input type="text" size="30" name="description" placeholder="description">
    <p>Price:</p>
    <input type="text" size="30" name="price" placeholder="price">
    <input type="submit" value="Create">
    <a href="{{ url_for('showMenu', restaurant_id=restaurant_id) }}">Cancel</a>
</form>
</body>
</html>